.App {
	background-color: whitesmoke;
	width: 799px;
	max-width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 1px 1px 1px;
}

.navbar {
	z-index: 1;
	position: fixed;
	width: 799px;
	height: 75px;
	background-color: rgba(0, 0, 0, 0.8);
}

.hamburger-menu {
	display: none;
}

.ladybug-logo {
	width: 100px;
	height: 100px;
	margin: 20px;
}

.nav-buttons {
	position: absolute;
	right: 5px;
	top: 30px;
}

.nav-button {
	font-weight: bold;
	border-radius: 7px;
	padding: 3px 10px;
	margin: 5px;
}

.nav-button:hover {
	cursor: pointer;
}

.image {
	max-width: 100%;
	object-fit: cover;
}

.image-slide {
	position: relative;
}

.image-headline {
	width: 400px;
	font-size: 65px;
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: whitesmoke;
	text-shadow: 2px 2px black;
}

.slide-buttons {
	width: 100%;
	position: absolute;
	bottom: 45%;
	display: flex;
	justify-content: space-between;
}

.slide-button {
	margin: 10px;
	border: none;
	background: none;
	font-size: 65px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.8);
}

.slide-button:hover {
	cursor: pointer;
}

.main {
	padding-bottom: 70px;
}

.headline-section {
	display: flex;
	justify-content: space-between;
}

.main-headline {
	margin: 0;
	padding: 8px;
	color: rgb(237, 31, 36);
}

.sort-buttons {
	margin-right: 20px;
	margin-top: 12px;
}

.sort-button {
	background-color: rgb(237, 31, 36);
	border: 3px solid orange;
	border-radius: 7px;
	color: orange;
	font-weight: bold;
	font-size: 20px;
	padding: 7px;
	margin: 2px;
}

.sort-button:hover {
	cursor: pointer;
}

.search-form {
	margin-left: 15px;
}

ul {
	list-style: none;
	padding: 10px;
}

.garden-store {
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 8px;
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 1px 1px 1px;
}

.rating {
	margin-right: 10px;
}

.name {
	font-weight: bold;
}

.availability-item {
	margin: 0 10px;
}

.address-link {
	margin-left: 80px;
	color: orange;
	font-weight: bold;
	text-decoration: none;
}

.website-link {
	display: inline-block;
	color: orange;
	font-weight: bold;
	text-decoration: none;
}

.pop-up {
	padding-left: 20px;
	padding-top: 15px;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 1px 1px 1px;
	height: 200px;
	width: 350px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	/* margin-top: -100px;
	margin-left: -175px; */
}

#overlay {
	z-index: 2;
	opacity: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	pointer-events: none;
}

.pop-up-header {
	display: flex;
	justify-content: space-between;
	/* align-items: center */
	/* vertical alignment of header */
}

.pop-up-close-button {
	border-radius: 50%;
	background-color: black;
	color: whitesmoke;
	font-weight: bold;
	font-size: 18px;
	margin-right: 20px;
	height: 25px;
}

.pop-up-close-button:hover {
	cursor: pointer;
}

.address-card-close-button {
	border-radius: 50%;
	border: 1px solid whitesmoke;
	background-color: whitesmoke;
	color: rgb(96, 173, 91);
	font-weight: bold;
	font-size: 18px;
	height: 25px;
}

.address-card {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 7px;
	margin-top: 7px;
	padding: 7px;
	display: flex;
	justify-content: space-between;
}

.addresscard-left {
	display: flex;
	flex-direction: column;
}

.download-button {
	display: block;
	margin: 0 auto;
	width: 97%;
	background-color: rgb(237, 31, 36);
	color: orange;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid rgb(237, 31, 36);
	border-radius: 7px;
	padding: 10px;
}

.download-button:hover {
	cursor: pointer;
}

.footer {
	z-index: 1;
	position: fixed;
	width: 799px;
	height: 75px;
	background-color: rgba(255, 165, 0, 0.8);
	text-align: center;
}

.footer a {
	margin-right: 5px;
	font-weight: bold;
	color: rgb(237, 31, 36);
}

/* MOBILE VIEW */

@media (max-width: 640px) {
	.navbar {
		justify-content: center;
	}

	.hamburger-menu {
		display: inline;
		margin: 12px;
		padding: 8px;
		font-size: 24px;
		font-weight: bold;
		color: rgba(255, 255, 255, 0.8);
		border: 2px solid rgba(255, 255, 255, 0.8);
		border-radius: 7px;
		background-color: rgba(255, 255, 255, 0.2);
	}

	.nav-buttons {
		position: static;
		background-color: rgba(128, 128, 128, 0.7);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
	}

	.nav-button {
		border: none;
		border-bottom: 1px solid black;
		border-radius: 0;
		width: 100%;
		color: whitesmoke;
		background-color: rgba(128, 128, 128, 0.7);
		margin: 0;
		padding: 8px 16px;
		font-size: 18px;
		text-align: left;
	}

	.ladybug-logo {
		position: absolute;
		left: 50%;
		margin-left: -150px;
	}

	.image-headline {
		font-size: 50px;
		width: 300px;
	}

	.garden-store {
		flex-direction: column;
	}

	.gardenstore-right {
		display: flex;
		flex-direction: column;
		padding-top: 8px;
	}

	.availability-item {
		margin: 0 10px 0 0;
	}

	.address-link {
		margin: 8px 0 0 0;
		background-color: rgb(96, 173, 91);
		border-radius: 7px;
		color: whitesmoke;
		/* width: 90%; */
		padding: 5px;
		display: block;
		text-align: center;
	}
}
