.App {
	background-color: whitesmoke;
	width: 799px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 1px 1px 1px;
}

.navbar {
	z-index: 1;
	position: fixed;
	width: 799px;
	height: 75px;
	background-color: rgba(0, 0, 0, 0.7);
}

.ladybug-logo {
	width: 100px;
	height: 100px;
	margin: 20px;
}

.nav-buttons {
	position: absolute;
	right: 5px;
	top: 30px;
}

.nav-button {
	font-weight: bold;
	border-radius: 7px;
	padding: 3px 10px;
	margin: 5px;
}

.nav-button:hover {
	cursor: pointer;
}

.image-slide {
	position: relative;
}

.image-headline {
	width: 400px;
	font-size: 65px;
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: whitesmoke;
}

.main {
	padding-bottom: 70px;
}

.main-headline {
	margin: 0;
	padding: 8px;
	color: rgb(237, 31, 36);
}

ul {
	list-style: none;
	padding: 10px;
}

.garden-store {
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 8px;
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 1px 1px 1px;
}

.name {
	font-weight: bold;
	margin-left: 10px;
}

.availability-item {
	margin: 0 10px;
}

.address-link {
	margin-left: 80px;
	color: orange;
	font-weight: bold;
	text-decoration: none;
}

.website-link {
	display: inline-block;
	margin-top: 15px;
	color: orange;
	font-weight: bold;
	text-decoration: none;
}

.pop-up {
	padding-left: 20px;
	padding-top: 10px;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 1px 1px 1px;
	height: 200px;
	width: 350px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -175px;
}

.pop-up-header {
	display: flex;
	justify-content: space-between;
}

.pop-up-headline {
	font-size: 18px;
}

.pop-up-close-button {
	border-radius: 50%;
	background-color: black;
	color: whitesmoke;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 20px;
	height: 25px;
}

.pop-up-close-button:hover {
	cursor: pointer;
}

.download-button {
	display: block;
	margin: 0 auto;
	width: 97%;
	background-color: rgb(237, 31, 36);
	color: orange;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid rgb(237, 31, 36);
	border-radius: 7px;
	padding: 10px;
}

.download-button:hover {
	cursor: pointer;
}
